.gittalk-container {
  color: #787878 !important;
}

.gittalk-editor-header {
  background-color: #fefefe;
}

.gittalk-comment-main, .gitment-editor-main {
  background-color: #fff;
  border-radius: 3px !important;
}

.gittalk-heart-icon {
  fill: #ff0808;
}
